/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

* {
    padding: 0;
    margin: 0;
}

html {
    background: white;
}

body {
    font: 13pt "Myriad Pro", Helvetica;
    margin: 5px 10% 0 10%;
    height: 100%;
    padding: 30px;
    padding-top: 70px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

h1 {
    margin-bottom: 20px;
}

nav {
    margin: 10px 0 10px 0;
}

a {
    color: #74CC00;
}

.page-header {
  position: relative;
  padding-bottom: 0px;

  &:first-child {
    margin-top: 20px;
  }
}

ul.actions {
  list-style-type: none;
  position: absolute;
  top: 4px;
  right: 2px;

  li {
    display: inline-block;
  }
}

a.new, a.edit, a.delete {
  @extend .btn;

  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
  }
}

a.new {
  @extend .btn-success;

  &:before {
    @extend .fa-plus;
  }
}

a.edit {
  @extend .btn-primary;

  &:before {
    @extend .fa-pencil;
  }
}

a.delete {
  @extend .btn-danger;

  &:before {
    @extend .fa-trash;
  }
}

#projects h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0px 0px;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

form {
  max-width: 500px;
}

p#author {
  font-style: italic;
}

.col-md-3 h2 {
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  color: #959595;
  padding-left: 15px;
}